</br>
%h1 本文書は、当サイト（shearspace）における個人情報の保護およびその適切な取り扱いについての方針を示したものです。
</br>

%h2 当サイトへのコメントに関して
</br>
当サイトでは、スパム・荒らしへの対応として、コメントの際に使用されたIPアドレスを記録しています。これは当サイトの標準機能としてサポートされている機能で、スパム・荒らしへの対応以外にこのIPアドレスを使用することはありません。全てのコメントは管理人が事前にその内容を確認し、承認した上での掲載となりますことをあらかじめご了承下さい。加えて、次の各号に掲げる内容を含むコメントは管理人の裁量によって承認せず、削除する事があります。
</br>
特定の自然人または法人を誹謗し、中傷するもの。
</br>
極度にわいせつな内容を含むもの。
</br>
禁制品の取引に関するものや、他者を害する行為の依頼など、法律によって禁止されている物品、行為の依頼や斡旋などに関するもの。
</br>
その他、公序良俗に反し、または管理人によって承認すべきでないと認められるもの。
</br>
</br>

%h2 当サイトへのリンクに関して

</br>
当サイトは完全リンクフリーです。トップページ、記事など、正規に公開しているページであれば、どのページにリンクしていただいても問題ありません。ただしインラインフレームの使用や、画像への直リンクなどは禁止させて頂いております。
</br>
</br>
%h2 免責事項
</br>
当サイトに掲載する情報は記事公表時点の正しいものを提供するよう努めております。ただし、提供している情報、リンク先などにより、いかなる損失や損害などの被害が発生しても当サイトでは責任を負いかねますので、ご了承ください。
</br>
</br>
%h2 著作権について

当サイト「shearspace」に掲載されている情報についての著作権は放棄しておりません。当サイト記事からの引用に関しましては「引用元の明示」によって無償で引用頂けます。

ただし、全文転載はお断りいたしております。引用許可範囲についても、事前予告なくこれを変更する事があります。また、当サイトのRSSを利用し、コンテンツをそのまま盗用することも禁止しています。
</br>
</br>

初出掲載：2020年5月1日
</br>
</br>

%div
  %a(href="/"){ style: "color:blue" }トップページに戻る