.footer
  .footer__title
    ShearSpace
  .footer__about
    %ul.text
      %li.text__link
        = link_to "採用情報", "#", class:"text__link"
      %li.text__link
        = link_to "プライバシー", "#", class:"text__link"
      %li.text__link
        = link_to "利用規約", "#", class:"text__link"
      %li.text__link
        = link_to "お問い合わせ", "#", class:"text__link"