.post
  .post__box
    .post__box__top
      投稿フォーム
    .form
      = form_with model: @post, local: true, url: posts_path, class: "contents" do |f|
        .form__title
          = f.text_field :title, class: "title",placeholder:"タイトル"
        .form__category
          = f.select :category_id, [["カテゴリー選択", ""], ["意匠設計", value = 1.to_i],["構造設計", value = 2.to_i],["施工管理", value = 3.to_i],["設備環境", value = 4.to_i],["建築法規", value = 5.to_i],["建築法規", value = 5.to_i],["資格", value = 6.to_i],["その他", value = 7.to_i]], class: "category"
        .form__contents
          = f.text_area :content, class: "content",placeholder:"記事コンテンツ"
        .form__btn
          =f.submit "投稿", class: "button"