.postRight
  %label{for: "post_images_attributes_0_image", class: "label-box", id: "label-box--0"}
    .postRight__form
      .postRight__form__text
        .js-remove
          画像
          %span
            必須
          %p
            最大3枚までアップロードできます
          %p
            クリックして画像添付