.form{
  width: 100%;
  height: calc( 100% - 50px );
  flex-direction: column;
  &__title{
    width: 100%;
    height: 20%;
    margin: 0 auto;
    padding:10px 0px 10px 0;
    .title{
      height: 50px;
      width: 100%;
      padding:0 10px;
      font-size: 1rem;
      outline: 0;
      border: 1px solid gray;
    }
    .title:focus{
      border-color: #0099e8;
    }
  }
  &__contents{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    .content{
      width: 100%;
      height: 550px;
      padding:0 10px;
      font-size: 1rem;
      outline: 0;
      padding-top:10px;
      background-color: #fff;
    }
    .content:focus{
      border-color: #0099e8;
    }
  }
  &__btn{
    width: 100%;
    height: 40px;
    margin: 0 auto;
    background-color: #fff;
    margin-top:10px ;
    .button{
      width: 100%;
      height: 100%;
      font-size: 20px;
      display: inline-block;
      background-color:rgba(0, 0, 255, 0.2);
      color:blue;
      font-weight: bold;
      border: none;
      cursor: pointer;
    }
    .button:hover{
      width: 100%;
      height: 100%;
      font-size: 20px;
      display: inline-block;
      background-color:blue;
      color:#fff;
      font-weight: bold;
      border: none;
      transition: all 0.3s ease-out;

    }
  }
}