.header{
  width: 100%;
  height: 80px;
  background-color:#00ffff;
  display: flex;
  justify-content: center;
  &__title{
    width: 20%;
    height: 100%;
    font-size: 2rem;
    color:#fff;
    font-weight:bold;
    text-align: center;
    line-height: 80px;
  }
  &__search{
    width: 30%;
    height: 100%;
    .search-form{
      width: 100%;
      height: 50%;
      margin-top: 20px;
      line-height: 40px;
      display: flex;
      .search-input{
        height: 100%;
        width: 80%;
        font-size: 1rem;
        border: 1px  #e0ffff;
        padding-left: 10px;
      }
      .search-btn{
        width: 20%;
        height: 40px;
        background-color: blue;
        font-size: 1rem;
        font-weight:bold;
        color:#fff ;
        border: 2px #1f3134;
        cursor: pointer;
      }
    }
  }

  &__box{
    width: 20%;
    height: 100%;
    // background-color: green;
    display: flex;
    justify-content: flex-end;
  
    .btn{
      margin-top: 20px;
      line-height: 40px;
      background-color: #fff;
      text-align: center;
      font-weight: bold;
      border: none;
      margin-left: 5px;
      border-radius: 5px;
    }
    .btn :hover{
      background-color: blue;
      text-align: center;
      font-weight: bold;
      // border: solid 2px blue;
      color:#fff;
      border-radius: 5px;
      transition: all 0.3s ease-out;
    }

    &__signin{
      width: 30%;
      height: 40px;
      .signin__btn{
        color: blue;
        width: 100%;
        height: 100%;
        display: inline-block;
      }
    }
    &__log{
      width: 30%;
      height: 40px;
      .log__btn{
        color: blue;
        width: 100%;
        height: 100%;
        display: inline-block;
      }
    }
    &__post{
      width: 30%;
      height: 40px;
      .post__btn{
        color: blue;
        width: 100%;
        height: 100%;
        display: inline-block;
      }
    }
  }
  &__img{
    width: 10%;
    height: 100%;
    margin-top:5px ;
    &__pic{
      width: 50%;
      height: 70%;
      text-align: center;
      margin: 0 auto;
      .img{
        width: 56px;
        height: 56px;
        border-radius: 50%;
      }
    }
    &__nickname{
      width: 100%;
      height: 30%;
      text-align: center;
      color: #fff;
      font-weight: bold;
    }
  }

}

.content{
  width: 100%;
  height: 100vh;
  display: flex;
  padding:30px;
  background-color: #f5f5f5;
  .left{
    width: 20%;
    height: 100%;
    background-color: #f5f5f5;
    &__category{
      width: 80%;
      height: 80%;
      &__top{
        width: 100%;
        height: 50px;
        background-color: blue;
        line-height:50px;
        text-align: center;
        cursor: pointer;
        color:#fff;
        font-weight: bold;
        &__list{
          width: 100%;
          height: 50px;
          background-color: rgba(255, 255, 255, 0.5);
          line-height:50px;
          text-align: center;
          .list{
            width: 100%;
            height: 100%;
            display: inline-block;
            color:blue;
          }
        }
      } 
      &__top :hover{
        background-color:rgba(0, 0, 255, 0.1);
        border-bottom:none;
      }
    }
  }
  .main{
    width: calc( 100vw - 40%);
    height: 100%;
    background-color: #fff;
    padding:0 10px 10px 10px;

    &__box{
      width: 100%;
      height: 100%;
      &__top{
        width: 100%;
        height: 50px;
        background-color: blue;
        color: #fff;
        font-weight:bold;
        line-height: 50px;
        text-align: center;
      }
      &__contents{
        width: 100%;
        height: calc( 100% - 50px);
        background-color:#f5fffa;
        &__post{
          width: 100%;
          height: 80px;
          display: flex;
          border-bottom:dotted 1px ;

          &__img{
            height: 100%;
            width: 10%;
            .profile-img{
              width: 60px;
              height: 60px;
              text-align: center;
              border-radius:50% ;
              margin:10px 0 0 10px ;
            }
          }
          &__text{
            height: 80px;
            width: 90%;
            padding: 5px;
            &__category{
              width: 100%;
              height: 20%;
              font-size: 0.7rem;
              font-weight: bold;
              color: gray;
            }
            &__title{
              width: 100%;
              height: 50%;
              line-height: 40px;
              font-weight: bold;
              color: #1f3134;
              opacity: 0.8;

            }
            &__nickname{
              width: 100%;
              height: 30%;
              display: flex;
              line-height: 32px;
              color: gray;
              font-size: 0.7rem;
              .nickname{
                margin-left:5px;
              }
              .date{
                margin-left:15px;
              }
            }
          }
        }
      }
    }

  }
  .right{
    width: 20%;
    height: 100%;
    background-color: #f5f5f5;
    &__profile{
      height: 40%;
      width: 100%;
      background-color: #1f3134;
      color: #fff;
      opacity: 0.9;
      font-weight: bold;
      &__img{
        width: 70%;
        height: 70%;
        margin: 0 auto;
        .img{
          padding: 10px 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      &__nickname{
        width: 100%;
        height: 15%;
        text-align: center;
        padding-top:10px;
        padding-top:10px;
        border-top:solid 1px #fff ;
      }
      &__post{
        width: 100%;
        height: 15%;
        text-align: center;
        padding-top:10px;
        border-top:solid 1px #fff ;
      }
    }
  }
}

.footer{
  width: 100%;
  height: 100px;
  background-color: #1f3134;
  padding-top: 5px;
  &__title{
    width: 100%;
    height: 20%;
    font-size: 1.5rem;
    color:#fff;
    font-weight:bold;
    text-align: center;
    line-height: 40px;
  }
  &__about{
    width: 100%;
    height: 20%;
    color:#fff;
    margin-top:30px ;
    .text{
      display: flex;
      justify-content: center;
      &__link{
        color:#fff;
        margin-left:20px ;
      }
    }
  }
}

