.SignUpMain {
  background-color: #f5f5f5;
  font-family: YuGothic;
  height: 100vh;
  
  &__head{
    width: 457px;
    background-color: #00ffff;
    height: 80px;
    margin: auto;
    text-align: center;
    #top_font{
      color:#fff;
      font-weight: bold;
      font-size: 2rem;
      line-height: 80px;
    }
  }

  &__body {
    background-color: #ffffff;
    min-height: calc(100vh - 80px);
    width: 457px;
    margin: 0 auto;
    padding: 40px 0 0 0;
  }
  &__btn {
    display: block;
    height: 50px;
    width: 343px;
    margin: 0 auto 16px;
    border-radius: 1px;
    font-size: 14px;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 80px;
    &__login {
      margin-top:16px;
      background-color: #e43f3f;
      display: flex;
      justify-content: center;
      cursor: pointer;
      outline: none;
      line-height: 15px;
      &:hover{
        background-color: #e43f3f;
        opacity: 0.7;
      }
    }
  }
  &__form {
    height: 50px;
    width: 343px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 16px;
    border-radius: 4px;
    padding: 0px 40px 0px 16px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    padding: 0px 40px 0px 16px;
    background-color: #ffffff;
    transition: .2s;
    font-size: 16px;
    font-weight: 200px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    -webkit-appearance: none;
    &:focus{
      border: 1px solid #0095ee;
      outline: none;
    }
  }
  .field{
    text-align: center;
  }
  &__image{
    display: none;
  }
  &__label{
    width: 343px;
    height: 200px;
    background-color: #dcdcdc;
    display: inline-block;
    border:2px dotted;
    &:active{
      border: 1px solid #0095ee;
      outline: none;
    }
  }
}
.profile__image__box{
  height: calc(100% - 20px);
}
.js-removeText{
  margin-top: 50px;
}
.fa-image{
  font-size:4rem;
  color: #1f3134;
}
